<template>
  <v-app-bar app flat color="#222222" dark>
    <div class="nav-menu">
      <v-btn text class="nav-item">Home</v-btn>
      <v-btn text class="nav-item">Events</v-btn>
      <v-btn text class="nav-item">Store</v-btn>
      <v-btn text class="nav-item">Contact</v-btn>
    </div>
    <v-spacer></v-spacer>

    <v-btn href="#" text>
      <span>Login</span>
      <!-- <v-icon>mdi-open-in-new</v-icon> -->
    </v-btn>
  </v-app-bar>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component } from 'vue-property-decorator';

@Component
export default class MegaMenu extends Vue {
    //
}

Vue.component('nav-mega-menu', MegaMenu);
</script>

<style lang="scss">
</style>