<template>
  <v-app style="background-color: #222222">
    <nav-mega-menu></nav-mega-menu>
    <v-content>
      <HelloWorld/>
    </v-content>
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue';
import HelloWorld from './components/HelloWorld.vue';
import MegaMenu from './components/MegaMenu/MegaMenu.vue';

export default Vue.extend({
  name: 'App',

  components: {
    MegaMenu, HelloWorld
  },

  data: () => ({
    //
  }),
});
</script>

<style lang="scss">
  .background {
    background-color: #878E76;
  }
</style>